* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.ball {
    display: flex;
    /* center the ball */
    justify-content: center;
    justify-self: center;
    align-items: center;

    border-radius: 50%;
    width: 100px;
    height: 100px;

    font-size: 22px;
    font-weight: bold;

    background-color: bisque;
    color: blueviolet;
}