* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.ball {
    display: flex;
    /* center the ball */
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: width 1s, height 1s;

    font-size: 22px;
    font-weight: bold;
}

.ball1 {
    background-color: bisque;
    color: blueviolet;
}

.ball2 {
    background-color: blue;
    color: darkred;
}